a{
	color: #000;
}
header{
	padding-top: 22px;
	background-color: #fff;
	width: 100%;
}
.logo__text{
	display: block;
	margin-top: 2px;
}
.sym{
	margin-left: 10px;
	margin-right: 10px;
}
.button{
	font-size: 14px;
	padding: 8px 19px;
	border-radius: 14px;
}
.block__button{
	border:2px solid #fcdb00;
}
.tel{
	font-size: 18px;
}
.bold{
	font-weight: bold;
}
.header__button_yellow{
	bottom: none;
	background-color: #ffb119;
	color: #fff;
}
.header__nav{
	float: right;
	margin-top: -40px;
}
.nav__item{
	margin-right: 50px;
	font-size: 16px;
}
.nav__item:last-child{
	margin-right: 0;
}